#main {
    position: relative;
    height: 100vh;
}

#homeDiv, #mapDiv {
    position: absolute;
    height: 100%;
    width: 100%;
}

#map {
    height: 100vh;
}

.carousel-item {
    height: 100vh;
    /* min-height: 350px; */
  }

#map-container {
    position: relative;
}

#search-container {
    position: absolute;
    z-index: 314159;
    min-width: 311px;
    max-width: 311px;
    /* min-height: 10px; */
    /* top: 11px; */
    bottom: 27px;
    left: 10px;
    background-color: rgba(255,255,255,0.8);
    /* padding: 0px 0px 0px 10px; */
    /* display: none; */
    padding-bottom: 0px;
}

#btn-attraction-search {
    margin-left: 10px;
}

#weather-toggle {
    /* font-size: 22px; */
    position: absolute;
    z-index: 314159;
    bottom: 27px;
    right: 10px;
}

.input-group {
    /* width: 400px; */
}

#home {
    /* height: 100vh;
    background-size: cover;
    background-repeat: no-repeat; 
    background-color:#999; 
    background-blend-mode: multiply;
    transition: all .2s ease; */
    position: relative;
}

.text-shadow {
    text-shadow: 2px 2px 6px #333 ;
}

#email-subscribe {
    position: absolute;
    bottom: 25px;
    right: 25px;
    height: 150px;
}

#search-box {
    position: absolute;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.drk:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#000;
    opacity:0.5;
}

ul {
    padding-left: 10px;
}

#logo {
    position: absolute;
    z-index: 314159;
    width: 61px;
    top: -5px;
    left: 55px;
}

ul:empty {
    display: none;
}

#results {
    overflow-y: scroll;
    max-height: 200px;
    padding-left: 10px;
}

.hidden {
    transform: translateY(-100%);
}