@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif; 
}

#main {
    position: relative;
    height: 100vh;
}

#landingPageDiv, #mapDiv {
    position: absolute;
    height: 100%;
    width: 100%;
}

#map {
    height: 100vh;
}

.carousel-item img {
      object-fit: cover;
      object-position: center;
      height: 100vh;
}

#map-container {
    position: relative;
}

#search-container {

    
    /* background-color: rgba(145, 34, 34, 0.8); */

}

/* .bg-light {
    background-color: red;
} */

#info-tab {
    position: absolute;
    z-index: 314159;
    width: 307px;
    height: 342px;
    bottom: 0px;
}

.active {
    background-color: #f7f7f7 !important;
}

#search-tab {
    color: #d9534f;
}

#explore-tab {
    color: #00BB00;
}

#weather-tab {
    color: #ee8532;
}

#collapse-tab {
    color: #0275d8;
}

/* #attraction-search {
    color: grey !important;
} */

#btn-attraction-search {
    margin-left: 10px;
}

#landingPage {
    position: relative;
}

.text-shadow {
    text-shadow: 2px 2px 6px #333 ;
}

#email-subscribe {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: auto;
}

#txt-email {
    width: 120px;
}

#search-box {
    position: absolute;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.drk:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#000;
    opacity:0.5;
}

ul {
    padding-left: 10px;
}

#logo {
    position: absolute;
    z-index: 314159;
    width: 61px;
    top: -5px;
    left: 65px;
}

.bg-white {
    color: white;
}


.col {
    height: 300px;
}

ul:empty {
    display: none;
}

#results-header li {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: -10px;
    padding-left: 14px;
}

#results-header li:hover {
    background: #c0bbbb;
}

#results {
    overflow-y: scroll;
}

.search-result {
    cursor: pointer;
}

.hidden {
    transform: translateY(-100%);
}



@media (min-width: 576px){
    #email-subscribe {
        position: absolute;
        bottom: 25px;
        right: 25px;
        left: auto;
        height: 150px;
        width: 460px;
    }
    
    #txt-email {
        width: 130px;
    }

}


@media (min-width: 768px){
    #results {
        max-height: 220px;
    }

    /* #search-container {
        min-width: 300px;
        max-width: 300px;
        bottom: 10px;
        margin-left: 0;
        left: 10px;
    } */


}
